body {
	margin:0px 0px;
    padding:0px;
}

.header{
	padding: 25px 0px 0px;
    margin: 0;
	width: 100%;
	display: inline-block;
}

/* LOGO */
.logo{
	width:20%;
	float: left;
	margin: 0px;
}

.logo img{
	padding: 0px 20px;
}

/* NAVIGATION BAR */
.navbar{
	width:45%;
	float: left;
	margin: 0px;
}

.navbar ul{
     list-style: none; 
	 font-family: sans-serif;
}
.navbar li{
	float:left;
	font-size: 15px;
}

.navbar li a{
     text-decoration: none;
     padding: 45px 15px;
     color: #040e27;
	 font-weight: 600:
}

.navbar a:hover{
	color: #1ec6b6;
}

/* SOCIAL MEDEA ICON */
.media{
	width:35%;
	float: left;
	margin: 0px;
}


.media li{
	list-style: none;
	float: left;
}

.media li a{
	padding: 0px 13px;
	color: #C0C0C0;
	text-decoration: none;
	font-size: 16px;
	
}
.media a:hover{
	color: #ff4a52;
}

/* PHONE ICON */
li.fa.fa-phone{
	color: #ff4a52;
	font-size: 16px;
}

li.fa.fa-phone p{
	color: #000000;
	margin-top: -15px;
    padding: 0px 20px;
	font-family: sans-serif;
	border-right: 1px solid #C0C0C0;
	font-size: 15px;
}

/* SEARCH ICON */
li a.fa.fa-search{
	float: right;
	border: none;
	text-align: center;
	text-decoration: none;
	background-color: #ff4a52;
	padding: 48px 34px;
    color: #fff;
    margin-top: -50px;
    margin-left: 36px;
	
}

/* SECTION SECTION IMAGE */
.container{
    color: #fff;
    background-image: url('../image/best.jpg');
    background-color: #cccccc;
	width: 100%;
	height: 100%;
} 


/* SECTION IMAGE TEXT */

.imgtext{
	text-align: center;
}

.imgtext h1{
  font-family: 'Dancing Script', cursive;
  font-size:135px;
  text-transform: capitalize;
  margin: 0;
  font-weight: 100;
  padding-top: 130px;
}

.imgtext p{
  font-family: sans-serif;
  font-size: 19px;
  padding: 20px 0px;
  margin-top: -25px;
}

 /* SECTION IMAGE BUTTON */
.imgtext .button{
	border: none;
    text-decoration: none;
    background-color: #1ec6b6;
    padding: 18px 41px;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-family: sans-serif;
 }

a.button:hover {
	background-color: #ff4a52;
}

/* CENTER background */
.center{
	background-color: #040E27;
	list-style: none;
	padding: 65px 0px 75px 0px;
}

/* CENTER TEXT */
.center-text{
	width:100%;
}

.center-text h3{
	color: #fff;
	width: 20%;
	float:left;
	font-size: 24px;
	font-family: sans-serif;
	font-weight: 100;
	margin: -6px 0px 0px 115px;
}

/* CENTER BANNER ICONS */
.middle {
	width: 100%;
	font-family: sans-serif;
    font-size: 16px;
}


.middle li{
	float:left;
    list-style: none;
	padding: 0px 5px;
	
}

.middle li a{
	border: 1px solid;
	padding: 16px 120px 16px 10px;
    border-radius: 5px;
	text-decoration: none;
	color: #AAB1B7;
	
}

.search {
	float:left;
	text-decoration: none;
}

/* CENTER SEARCH BUTTON */
.search li a{
	padding: 16px 40px 16px 40px;
    border-radius: 5px;
	text-decoration: none;
	border: 1px solid #363e52;
	background-color: #ff4a52;
	font-family: sans-serif;
    font-size: 16px;
	color: #fff;
	font-weight: 600;
}

.search a:hover{
	background-color: #1ec6b6;
}

/* CENTER ARTICLE CONTEXT */ 
.context{
	text-align: center;
	font-family: sans-serif;
    padding: 140px 0px 62px;
}

.context h1{
	color: #040E27;
	font-weight: 100;
	font-size: 38px;
	margin:0;
}

.context p{
	color: #A9A9A9;
	font-size: 16px;
	font-weight: 100;
	line-height: 30px;
}

/* GALLERY IMAGES */
.gallery {
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 120px;
}

.row {
    position: relative;
    margin-left: 6%;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    position: relative;
}

.column img {
	width: 100%;
	border: none;
	border-radius: 10px;
    opacity:0.5;
    transition: 1s ease;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

/* GALLERY IMAGE TEXT */
.text{
    position: absolute;
    bottom: 25px;
    left: 35px;
    width: 80%;
    color: #fff;
    font-family: "Rubik",sans-serif;
}


.column h2{
	float: left;
	font-size: 22px;
	font-weight: 100;
}

/* GALLERY IMAGE BUTTON */
.column a{
    float: left;
    position: relative;
    margin-top: 17px;
    background: #1EC6B6;
    font-size: 12px;
    border-radius: 30px;
    padding: 7px 12px;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-weight: 100;
}

.text:hover{
	color:#ff4a52;
}

.text a:hover{
	background-color:#ff4a52;
}

.column img:hover{
    opacity:1;
    transition: 1s ease;
}

/* CENTER2 */
.center2{
    background-color: #040E27;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.center2-whole{
    font-family: sans-serif;
    width: 100%;
}
.center-text2{
    width: 25%;
    float: left;
    margin-left: 10%;
    padding: 50px 0px;
}

.center-text2 h3{
	font-size: 24px;
    font-weight: 400;
    color: #fff;
}

.center-text2 p{
	color: #aab1b7;
    font-size: 16px;
}

/* CENTER-TEXT2 EMAIL BAR*/
.center2 input[type=text] {
    float: left;
    padding: 10px;
    margin-top: 89px;
    margin-right: 10px;
    border: none;
    font-size: 16px;
    font-family: sans-serif;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    height: 50px;
}

@media screen and (max-width: 600px) {
 .center2 input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .center2 input[type=text] {
    border: 1px solid #ccc;  
  }
}

 .center-text2 input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  

  
.subscribe{
	float: left;
    width: 10%;
	text-decoration: none;
	margin-top: 105px;
  }


.subscribe a{
	padding: 16px 35px 16px 35px;
    border-radius: 5px;
	text-decoration: none;
	border: 1px solid #363e52;
	background-color: #ff4a52;
	font-family: sans-serif;
    font-size: 16px;
	color: #fff;
	font-weight: 600;
}

.subscribe a:hover{
	background-color: #1ec6b6;
}

.context2{
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    background-color: #f7fafd;
    padding-top: 25%;
}

.context2 h1{
	color: #040E27;
	font-weight: 100;
	font-size: 38px;
	margin:0;
}

.context2 p{
    color: #A9A9A9;
    font-size: 16px;
    font-weight: 100;
    margin: 15px 0px 0px;
    padding: 0;
    line-height: 30px;
}

.Sub {
    position: relative;
	display:inline-block;
	font-family: sans-serif;
}

ul.submenu{
	display: none;
    position: absolute;
    margin: 30px 0px;
    background: #fff;
    width: 150px;
    z-index: 2;
}

ul.submenu a{
    padding: 10px 15px;
    font-family: sans-serif;
    font-weight: 100;
    transition: .3s;
    display: block;
    color: #040e27;
    font-size: 14px;
    position: inherit;
    margin-left: -30px;
    width: 100px;
}

.submenu a:hover{
	background-color: #fff;
	color: #000000;
}

.Sub:hover .submenu{
	display:block;
}


.whole-card{
    width: 100%;
    padding: 0;
    margin: 0;
    align-items: center;
}

.card-body{
	float: left;
    margin: 30px 40px 100px 70px;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 30%);
    transition: 0.3s;
    width: 30%;
    float: left;
    margin: 10px;
    border-radius: 10px;
	background-color: #fff;
    border: 5px solid #fff;
}

.card img{
	width:100%;
}

.card button {
    margin-top: -50%;
    font-size: 16px;
    border-radius: 18px;
    color: #fff;
    margin-left: 25px;
    font-weight: 500;
	border: none;
	background: #1ec6b6;
    padding: 10px 25px;
	font-family: sans-serif;
}

.card button:hover{
	background-color: #ff4a52;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-text {
    padding: 0px 16px;
    font-family: sans-serif;
    margin: 25px 0px 55px;
}

.card-text h3{
	font-size: 22px;
    font-weight: 400;
    color: #040e27;
    margin: 10px 0px;
}

.card-text h3:hover{
	color: #ff4a52;
}

.card-text p{
	font-size: 16px;
    font-weight: 400;
    color: #7a838b;
	margin:0px;
}


.card-text a{
	text-decoration: none;
}
.card-text ul{
    list-style: none;
    width: 100%;
    margin-left: -40px;
}

.card-text ul li{
	float:left;
	text-decoration: none;
	margin: 0;
    font-size: 13px;
	color: #F2E34C
}

.card-text li a p{
    font-size: 14px;
    color: #7a838b;
    margin-left: 5px;
}
li.fa.fa-clock-o{
	float: right;
    width: 17%;
	color: #7a838b;
}

li.fa.fa-clock-o p{
    font-size: 14px;
    font-weight: 400;
    color: #7a838b;
    float: right;
}

.more-places{
	text-align: center;
    background: #f7fafd;
	margin: 0;
    padding-bottom: 120px;
}

.more-places a{
	padding: 16px 35px 16px 35px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #ff4a52;
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 600;

}

.more-places a:hover{
	background-color: #1ec6b6;
}

.play-video{
    background-image: url('../image/rob1.jpg');
    background-color: #cccccc;
	width: 100%;
    padding: 204px 0px;
}

.play-video-text {
	color: #fff;
	position: relative;
    text-align: center;
	list-style: none;
}

.play-video-text h1{
    font-family: 'Dancing Script', cursive;
    font-size: 120px;
    margin: 0;
    font-weight: 100;
}

.play-video-text li{
    font-size: 17px;
    padding: 15px;
}

.play-video-text .fa.fa-play{
    border-radius: 50px;
    background: #1ec6b6;
    color: #fff;
    position: relative;
    text-decoration: none;
    padding: 35px;
}

.journey{
	width:100%;
}

.train-hotel-earth{
    width: 100%;
    float: left;
    font-family: sans-serif;
    text-align: center;
    padding: 114px 0px;
}

.train{
	position: relative;
	float: left;
	width: 33%;
}

.train img{

}

.train h2{
	font-size: 22px;
    font-weight: 400;
    color: #040e27;
}

.train p{
	font-size: 16px;
    font-weight: 400;
    color: #6e6e6e;
	line-height: 25px;
}

.hotel{
	position: relative;
	float: left;
	width: 33%;
}

.hotel img{

}

.hotel h2{
	font-size: 22px;
    font-weight: 400;
    color: #040e27;
}

.hotel p{
	font-size: 16px;
    font-weight: 400;
    color: #6e6e6e;
	line-height: 25px;
}

.earth{
	position: relative;
	float:left;
	width: 33%;
}

.earth img{
	margin-top: -4px;       
}

.earth h2{
	font-size: 22px;
    font-weight: 400;
    color: #040e27;
}

.earth p{
	font-size: 16px;
    font-weight: 400;
    color: #6e6e6e;
	line-height: 25px;
}

.circle-img{
	text-align: center;
	background: #f7fafd;
	font-family: sans-serif;
	margin-top: 28%;
}

.circle-img p{
	color: #040e27;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    margin: 34px 0 10px 0;

}

.circle-img h5{
	color: #7a838b;
    font-size: 16px;
    font-weight: 400;
	padding-bottom: 110px
}

.recent-trips{
	padding-top: 90px;
}
.recent-trips h2{
	text-align: center;
	font-size: 38px;
    font-weight: 400;
    color: #040e27;
	font-family: sans-serif;
}

.recent-trips-img{
	padding: 0;
    margin: 0;
    width: 100%;
}

.img-row{
    width: 90%;
    padding: 0px 0px 0px 0px;
    margin: 0;
    margin-left: 80px;
	display: inline-block;
}

.recent-column{
	float: left;
    width: 30%;
    padding: 15px;
	padding-bottom: 114px;
}

.recent-column img{
	width:100%;
	border-radius: 10px;
}

.recent-text{
	font-family:sans-serif;
	text-transform: capitalize;
}

.recent-text a{
	text-decoration: none;
}

.recent-text a h2:hover{
	color:#ff4a52;
}

.recent-text p{
	font-size: 14px;
    font-weight: 400;
    color: #7a838b;
}
 .recent-text h2{
	color: #040e27;
    font-size: 22px;
    font-weight: 400;
 }
 
.footer {
    margin: 0;
    padding: 0;
	background-color: #040E27;
	display: inline-block;
	width:100%;
	padding-bottom: 115px;
    padding-top: 114px;
}

.footer-sections{
	color: #fff;
    list-style: none;
    font-family: sans-serif;
    padding: 0px 60px 0px 100px;
}

.footer-section{
	width: 25%;
	float: left;
}

.footer-section a img{
	width: 55%;
    padding: 0;
    margin-left: -10px;
	
}

.footer-section h2{
    margin-bottom: 45px;
	font-size: 25px;
    font-weight: 400;
}

.address-contact{
	padding: 20px 80px 0px 0px;
}

.address-contact li{
	font-size: 14px;
	color:#AAB1B7;
	line-height: 20px;
}

.address-contact li a{
	text-decoration: none;
	color: #AAB1B7;
}

.address-contact a:hover{
	color: #ff4a52;
}

.footer-media{
	margin-left: -50px;
}

ul.footer-media li{
	list-style: none;
	float: left;
	line-height: 70px;
}

ul.footer-media li a{
	padding: 0px 10px;
	color: #AAB1B7;
	text-decoration: none;
	font-size: 14px;
	
}
.footer-media a:hover{
	color: #ff4a52;
}


.company{
	font-size: 14px;
	line-height: 26px;
}

.company li a{
	text-decoration: none;
	color: #AAB1B7;
}

.company a:hover{
	color: #ff4a52;
}

.popular{
	font-size: 14px;
	line-height: 26px;
}

.popular li a{
	text-decoration: none;
	color: #AAB1B7;
}

.popular a:hover{
	color: #ff4a52;
}

.destination{
	font-size: 14px;
	line-height: 26px;
	float: right;
    margin-top: -58.75%;
    padding-right: 114px;
}
.destination li a{
	text-decoration: none;
	color: #AAB1B7;
}

.destination a:hover{
	color: #ff4a52;
}
.insta-img{
	width: 100%;
}

.insta-img li{
	float: left;
	width: 27%;
    padding: 5px;
    margin: 0;
}

.insta-img li img{
	width:100%;
	border-radius: 10px;
	 background-color: #040E27;
}



.bottom-text{
	border-top: 1px solid #7A838B;
    padding: 30px;
    z-index: 2;
    background-color: #040E27;
	text-align: center;
}

.bottom-text p{
    font-size: 14px;
    color: #7A838B;
    margin: 0;
    font-weight: 400;
	font-family: sans-serif;
}

.bottom-text a{
	text-decoration: none;
	color:  #ff4a52;
}
